/* General */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Divider */
.divider {
  border-bottom: 2px solid #555;
  margin: 30px;
}

/* Grid for the main layout */
.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* Sidebar */
.nav {
  width: 399px;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

/* Navigation side bar */
#logo-section {
  background-color: #fc3e59;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
#logo-section img {
  width: 70%;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-top: 40px;
  line-height: 50px;
  font-family: "Poppins";
}
nav {
  position: fixed;
}
.nav-menu a {
  color: white;
  padding: 10px 0;
  text-decoration: none;
  font-size: 25px;
}

.nav-menu a:hover {
  color: #fc3e59;
}

/* Contact information */
.contact-info {
  color: white;
  padding-left: 75px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 25px;
}

/* Social icons */
.social-icons {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-bottom: 50px;
}

.social-icons a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #fc3e59;
}

.social-icon-box {
  border: 1px solid white;
  padding: 20px;
}

.social-icon-box:hover {
  border: 1px solid #fc3e59;
}

/* Footer */
.footer {
  background-color: #363636;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 100px;
  font-family: "Open Sans";
}
.footer img {
  width: 200px;
}
.footer-socials {
  color: white;
  padding: 10px 0;
  text-decoration: none;
  font-size: 25px;
  word-spacing: 5px;
}
.copyright {
  padding-top: 20px;
  color: gray;
  font-size: 18px;
}
/* Main content */
.main-content {
  background-image: url('../IMAGES/Wedding.png');
  background-size: cover;
  width: 100%;
}
.Wedding{
  /* position: absolute;  NEGALIMA NAUDOTI!!! */
  bottom: -27px;
  left: 400px;
}
.WEDDING{
  font-size: 110px;
  line-height: 100px;
  color: #ffffff;
  font-family: "Octin Sports Rg";
  position: absolute;
  left: 640px;
  bottom: 525px;
}
.House{
  font-size: 110px;
  line-height: 100px;
  color: #ffffff;
  font-family: "Octin Sports Rg";
  position: absolute;
  left: 660px;
  bottom: 425px;
}
.Lorem{
  width: 900px;
  height: 80px;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  position: absolute;
  left: 660px;
  bottom: 360px;
}
.Ipsom{
  width: 900px;
  height: 80px;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  position: absolute;
  left: 660px;
  bottom: 330px;
}
.Randomised{
  width: 900px;
  height: 80px;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  position: absolute;
  left: 660px;
  bottom: 300px
}
.login{
  font-size: 17px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Helvetica";
  text-align: center;
  position:absolute;
  left: 1710px;
  bottom: 860px;
}
/* Button */
.Contact{
  font-size: 17px;
  line-height: 80px;
  color: #ffffff;
  font-family: "Octin Sports Rg";
  position: absolute;
  text-align: center;
  left: 660px;
  bottom: 220px;
}
.button{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #fc3e59;
  padding: 20px;
  color: white;
  transition: background-color 0.3s ease;
}
/* Icons */
.user-icon{
  font-size: 20px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "icofont";
  text-align: center;
  position: absolute;
  left: 1670px;
  bottom: 880px; 
}
.glass{
  font-size: 20px;
  line-height: 35px;
  color: #ffffff;
  font-family: "icofont";
  text-align: center;
  position: absolute;
  bottom: 880px;
  left: 1810px;
}
.right{
  font-size: 24px;
  line-height: 94px;
  color: #ffffff;
  font-family: "icofont";
  position: absolute;
  left: 1820px;
  bottom: -20px;
}
.left{
  font-size: 24px;
  line-height: 94px;
  color: #ffffff;
  font-family: "icofont";
  position: absolute;
  left: 1780px;
  bottom: -20px;  
}